.button {
  display: inline-block;
  padding: 15px;
  min-width: 170px;

  background: transparent;
  border: 0;
  border-radius: 2px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &--primary {
    background-color: $primary;
  }

  &--shadow {
    box-shadow: 0px 10px 20px rgba(199, 133, 85, 0.2);
  }

  &--block {
    width: 100%;
  }
}
