.sales {
  &__title {
    text-align: center;
  }
}

.form {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 100px;

  &__status {
    padding: 10px;
    color: #fff;
    opacity: 0;
    visibility: hidden;

    transition: 0.3s linear all;

    &--show {
      opacity: 1;
      visibility: visible;
    }

    &--error {
      background: red;
    }

    &--success {
      background: green;
    }
  }

  &__input {
    width: 100%;
    display: block;
    padding: 15px;
    border: 0;
    border-radius: 2px;

    color: #606060;

    &:focus {
      outline-color: $primary;
    }

    &-label-checkbox {
      position: relative;
      &:hover {
        cursor: pointer;
      }

      input {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        & + span {
          position: relative;

          display: flex;
          align-items: center;

          font-size: 14px;
          line-height: 19px;

          &::before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 14px;
            height: 14px;
            background: white;
          }
        }

        &:hover + span::before {
          background: $primary;
        }

        &:focus + span::before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        &:checked + span::before {
          background: $primary;
        }

        &:checked + span::after {
          content: '';
          position: absolute;
          left: 2px;
          top: 8px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__submit-btn {
    margin-bottom: 50px;
  }
}
