<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>index</title>
  </head>
  <body>
    <div class="main-layout">
      <header class="main-layout__header header"><a href="/">logo</a></header>
      <nav class="main-layout__left-nav left-nav">
        <a href="#files">Files</a>
      </nav>
      <main class="main-layout__content main-layout__content--with-bg main">
        <h1>Lorem ipsum dolor, consectetur adipiscing elit</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>

        <section>
          <h2>Lorem ipsum dolor sit</h2>

          <ul>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
          </ul>
        </section>

        <section id="location" class="section section__advantages">
          <h2 class="section__title">Location</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod
          </p>

          <div id="map"></div>
        </section>

        <div id="files"></div>
      </main>
      <nav class="main-layout__right-nav right-nav">
        <a href="#location">Location</a>
      </nav>
      <footer class="main-layout__footer footer">
        <span class="sr-only">footer info</span>
      </footer>
    </div>
  </body>
</html>
