$advantages-space: 20px;

.advantages {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $advantages-space;
  }

  &__item {
    &-link {
      display: block;
      padding: $advantages-space;
      overflow: hidden;

      background: linear-gradient(
          0deg,
          rgba(30, 30, 30, 0.1),
          rgba(30, 30, 30, 0.1)
        ),
        #494949;
      border-radius: 10px;

      text-decoration: none;

      &:hover,
      &:focus {
        .advantages__item {
          &-content {
            transform: translateY(0);
          }
          &-text {
            opacity: 1;
          }
        }
      }
    }

    &-content {
      transform: translateY(90%);
      transition: 0.3s ease-in-out transform;
      will-change: transform;
    }

    &-title {
      margin-bottom: $advantages-space;
    }

    &-text {
      opacity: 0;
      transition: 0.3s ease-in-out opacity 0.3s;
      will-change: opacity;
    }
  }
}

.location {
}

.map {
  position: relative;

  height: 410px;

  &__loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    &-wrap {
      position: absolute;
      width: 100%;

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
