html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PTSerif', sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-family: 'GothamPro', sans-serif;
  color: #fff;
}

p {
  margin: 0;
  margin-bottom: 20px;

  color: #fff;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 25px;
}

h1,
h2 {
  font-weight: 400;
}

h3 {
  font-weight: 700;
}

a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $link-color;

  transition: opacity 0.3 linear;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
